openapi: 3.0.3
info:
  title: Wholesale Hub - Inventory Receiving API
  description: |
    API for the Wholesale Hub inventory receiving system.
    Supports mobile app barcode scanning, supplier webhooks, and inventory management.

    ## User-Friendly Design Principles
    - Simple, clear responses with minimal technical jargon
    - Large touch targets for mobile scanning
    - Visual feedback (colors, icons) for status
    - Voice feedback support for hands-free operation
    - Offline-first with sync capability
  version: 1.0.0
  contact:
    name: Wholesale Hub Support
    email: support@wholesalehub.com

servers:
  - url: https://api.wholesalehub.com/v1
    description: Production server
  - url: https://api-staging.wholesalehub.com/v1
    description: Staging server

tags:
  - name: Supplier Webhooks
    description: Inbound supplier integrations
  - name: Receipts
    description: Inventory receipt management
  - name: Scanning
    description: Barcode scanning operations
  - name: Products
    description: Product catalog lookups
  - name: Suppliers
    description: Supplier management

paths:
  # ==============================================
  # SUPPLIER WEBHOOK ENDPOINTS
  # ==============================================
  /inventory/receive/webhook:
    post:
      tags:
        - Supplier Webhooks
      summary: Receive supplier ASN/shipment notification
      description: |
        Endpoint for suppliers to push Advanced Shipping Notices (ASN),
        PO confirmations, and shipment updates.
      operationId: receiveSupplierWebhook
      security:
        - ApiKeyAuth: []
        - HMACSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierWebhookPayload'
            example:
              supplier_id: "SUP001"
              document_type: "ASN"
              document_id: "ASN-2024-00123"
              po_number: "12345"
              ship_date: "2024-01-12"
              expected_delivery: "2024-01-15"
              carrier: "UPS"
              tracking_number: "1Z999AA10123456784"
              line_items:
                - line_number: 1
                  sku: "BND-001"
                  upc: "012345678901"
                  description: "Band-Aid 100ct"
                  qty_shipped: 500
                  unit_cost: 2.50
      responses:
        '200':
          description: Webhook processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed
        '409':
          description: Duplicate document (idempotency check)

  /inventory/receive/email:
    post:
      tags:
        - Supplier Webhooks
      summary: Email parser callback
      description: Callback endpoint for email parsing service
      operationId: receiveEmailCallback
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailParserPayload'
      responses:
        '200':
          description: Email processed

  # ==============================================
  # RECEIPT MANAGEMENT ENDPOINTS
  # ==============================================
  /inventory/receipts/pending:
    get:
      tags:
        - Receipts
      summary: List pending receipts awaiting arrival
      description: |
        Returns all shipments with status AWAITING_ARRIVAL.
        Designed for the mobile app "Pending Shipments" screen.
      operationId: getPendingReceipts
      security:
        - BearerAuth: []
      parameters:
        - name: warehouse_id
          in: query
          schema:
            type: string
          description: Filter by warehouse
        - name: supplier_id
          in: query
          schema:
            type: string
          description: Filter by supplier
        - name: expected_date_from
          in: query
          schema:
            type: string
            format: date
          description: Expected delivery date range start
        - name: expected_date_to
          in: query
          schema:
            type: string
            format: date
          description: Expected delivery date range end
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [expected_date, supplier, po_number]
            default: expected_date
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of pending receipts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingReceiptsResponse'

  /inventory/receipts/{receipt_id}:
    get:
      tags:
        - Receipts
      summary: Get receipt details
      description: |
        Returns full receipt details including all line items.
        Used for the mobile app "Shipment Detail" screen.
      operationId: getReceiptDetails
      security:
        - BearerAuth: []
      parameters:
        - name: receipt_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Receipt details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptDetails'
        '404':
          description: Receipt not found

  /inventory/receipts/{receipt_id}/start:
    post:
      tags:
        - Receipts
      summary: Start receiving process
      description: Mark receipt as "receiving started" and assign to user
      operationId: startReceiving
      security:
        - BearerAuth: []
      parameters:
        - name: receipt_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                device_id:
                  type: string
      responses:
        '200':
          description: Receiving started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptDetails'

  /inventory/receipts/{receipt_id}/scan:
    post:
      tags:
        - Scanning
      summary: Log barcode scan
      description: |
        Record a barcode scan event during receiving.
        Returns product details and updates receipt progress.

        ## User Experience
        - Shows large, clear product image and name
        - Uses GREEN checkmark for successful match
        - Uses RED X for no match found
        - Plays audio confirmation tone
      operationId: recordBarcodeScan
      security:
        - BearerAuth: []
      parameters:
        - name: receipt_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BarcodeScanRequest'
            example:
              barcode: "012345678901"
              barcode_type: "UPC"
              quantity: 1
              condition: "GOOD"
              user_id: "user123"
              device_id: "device456"
      responses:
        '200':
          description: Scan recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BarcodeScanResponse'
        '404':
          description: Receipt or product not found

  /inventory/receipts/{receipt_id}/line/{line_id}:
    patch:
      tags:
        - Receipts
      summary: Update line item quantity
      description: |
        Manually update received quantity for a line item.
        Used when scanning is not possible or for corrections.
      operationId: updateReceiptLine
      security:
        - BearerAuth: []
      parameters:
        - name: receipt_id
          in: path
          required: true
          schema:
            type: string
        - name: line_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                qty_received:
                  type: integer
                qty_damaged:
                  type: integer
                condition:
                  type: string
                  enum: [GOOD, DAMAGED, WRONG_ITEM, EXPIRED]
                notes:
                  type: string
                photo_url:
                  type: string
      responses:
        '200':
          description: Line updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptLine'

  /inventory/receipts/{receipt_id}/complete:
    post:
      tags:
        - Receipts
      summary: Complete and finalize receipt
      description: |
        Finalize the receiving process.
        Updates inventory on-hand and creates audit transactions.
      operationId: completeReceipt
      security:
        - BearerAuth: []
      parameters:
        - name: receipt_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  description: Final receiving notes
                user_id:
                  type: string
      responses:
        '200':
          description: Receipt completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptCompletionResponse'

  /inventory/receipts/{receipt_id}/dispute:
    post:
      tags:
        - Receipts
      summary: Flag receipt for dispute
      description: Create a dispute record for variance resolution with supplier
      operationId: disputeReceipt
      security:
        - BearerAuth: []
      parameters:
        - name: receipt_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  enum: [SHORT_SHIPMENT, DAMAGED, WRONG_ITEMS, QUALITY_ISSUE, OTHER]
                description:
                  type: string
                photo_urls:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Dispute created

  /inventory/receipts/manual:
    post:
      tags:
        - Receipts
      summary: Create manual receipt entry
      description: |
        Create a receipt manually for suppliers without electronic integration.
        Supports entry via barcode scanning or manual SKU entry.
      operationId: createManualReceipt
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManualReceiptRequest'
      responses:
        '201':
          description: Manual receipt created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptDetails'

  # ==============================================
  # PRODUCT LOOKUP ENDPOINTS
  # ==============================================
  /products/barcode/{barcode}:
    get:
      tags:
        - Products
      summary: Product lookup by barcode
      description: |
        Look up product details by UPC, EAN, or SKU barcode.
        Returns product image, name, and current inventory status.

        ## User-Friendly Response
        - Large product image for visual confirmation
        - Simple product name (not technical SKU)
        - Stock status in simple terms (In Stock, Low, Out)
      operationId: lookupProductByBarcode
      security:
        - BearerAuth: []
      parameters:
        - name: barcode
          in: path
          required: true
          schema:
            type: string
          description: UPC, EAN, or SKU barcode value
        - name: warehouse_id
          in: query
          schema:
            type: string
          description: Get inventory for specific warehouse
      responses:
        '200':
          description: Product found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLookupResponse'
        '404':
          description: Product not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductNotFoundResponse'

  /products/search:
    get:
      tags:
        - Products
      summary: Search products
      description: Search product catalog by name, SKU, or category
      operationId: searchProducts
      security:
        - BearerAuth: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query
        - name: category
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSearchResponse'

  # ==============================================
  # SUPPLIER ENDPOINTS
  # ==============================================
  /suppliers:
    get:
      tags:
        - Suppliers
      summary: List all suppliers
      description: Get list of active suppliers for dropdown selection
      operationId: listSuppliers
      security:
        - BearerAuth: []
      parameters:
        - name: is_active
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Supplier list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupplierSummary'

  /purchase-orders/{po_number}:
    get:
      tags:
        - Receipts
      summary: Get PO details
      description: Look up purchase order by PO number
      operationId: getPurchaseOrder
      security:
        - BearerAuth: []
      parameters:
        - name: po_number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: PO details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseOrderDetails'
        '404':
          description: PO not found

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for mobile app authentication

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for supplier integrations

    HMACSignature:
      type: apiKey
      in: header
      name: X-Signature
      description: HMAC-SHA256 signature of request body

  schemas:
    # ==============================================
    # WEBHOOK SCHEMAS
    # ==============================================
    SupplierWebhookPayload:
      type: object
      required:
        - supplier_id
        - document_type
        - document_id
        - line_items
      properties:
        supplier_id:
          type: string
        document_type:
          type: string
          enum: [ASN, PO_CONFIRM, SHIPMENT_UPDATE]
        document_id:
          type: string
        po_number:
          type: string
        ship_date:
          type: string
          format: date
        expected_delivery:
          type: string
          format: date
        carrier:
          type: string
        tracking_number:
          type: string
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/WebhookLineItem'

    WebhookLineItem:
      type: object
      required:
        - line_number
        - qty_shipped
      properties:
        line_number:
          type: integer
        sku:
          type: string
        upc:
          type: string
        description:
          type: string
        qty_shipped:
          type: integer
        unit_cost:
          type: number
          format: float

    WebhookResponse:
      type: object
      properties:
        status:
          type: string
          enum: [SUCCESS, DUPLICATE, VALIDATION_ERROR]
        receipt_id:
          type: string
        message:
          type: string
        errors:
          type: array
          items:
            type: string

    EmailParserPayload:
      type: object
      properties:
        email_id:
          type: string
        parsed_data:
          type: object

    # ==============================================
    # RECEIPT SCHEMAS
    # ==============================================
    PendingReceiptsResponse:
      type: object
      properties:
        receipts:
          type: array
          items:
            $ref: '#/components/schemas/ReceiptSummary'
        total_count:
          type: integer
        page:
          type: integer
        page_size:
          type: integer

    ReceiptSummary:
      type: object
      properties:
        receipt_id:
          type: string
        receipt_number:
          type: string
        po_number:
          type: string
        supplier_name:
          type: string
        expected_date:
          type: string
          format: date
        item_count:
          type: integer
          description: Number of line items
        total_quantity:
          type: integer
        status:
          type: string
        status_color:
          type: string
          description: UI color hint (green, yellow, red)

    ReceiptDetails:
      type: object
      properties:
        receipt_id:
          type: string
        receipt_number:
          type: string
        po_number:
          type: string
        supplier:
          $ref: '#/components/schemas/SupplierSummary'
        expected_date:
          type: string
          format: date
        carrier:
          type: string
        tracking_number:
          type: string
        tracking_url:
          type: string
        status:
          type: string
        lines:
          type: array
          items:
            $ref: '#/components/schemas/ReceiptLine'
        progress:
          $ref: '#/components/schemas/ReceivingProgress'

    ReceiptLine:
      type: object
      properties:
        line_id:
          type: string
        line_number:
          type: integer
        product:
          $ref: '#/components/schemas/ProductSummary'
        qty_expected:
          type: integer
        qty_received:
          type: integer
        qty_damaged:
          type: integer
        condition:
          type: string
        status:
          type: string
          enum: [NOT_STARTED, PARTIAL, COMPLETE, VARIANCE]
        status_color:
          type: string
          description: green, yellow, red for UI

    ReceivingProgress:
      type: object
      properties:
        total_items:
          type: integer
        items_scanned:
          type: integer
        total_units:
          type: integer
        units_received:
          type: integer
        percent_complete:
          type: number

    ReceiptCompletionResponse:
      type: object
      properties:
        status:
          type: string
        receipt_id:
          type: string
        has_variance:
          type: boolean
        variance_summary:
          type: array
          items:
            type: object
            properties:
              sku:
                type: string
              product_name:
                type: string
              expected:
                type: integer
              received:
                type: integer
              variance:
                type: integer

    ManualReceiptRequest:
      type: object
      required:
        - supplier_id
        - lines
      properties:
        supplier_id:
          type: string
        po_number:
          type: string
        notes:
          type: string
        invoice_photo_url:
          type: string
        lines:
          type: array
          items:
            type: object
            properties:
              barcode:
                type: string
              sku:
                type: string
              quantity:
                type: integer
              unit_cost:
                type: number

    # ==============================================
    # SCANNING SCHEMAS
    # ==============================================
    BarcodeScanRequest:
      type: object
      required:
        - barcode
        - quantity
      properties:
        barcode:
          type: string
        barcode_type:
          type: string
          enum: [UPC, EAN, CODE128, QR]
          default: UPC
        quantity:
          type: integer
          minimum: 1
        condition:
          type: string
          enum: [GOOD, DAMAGED, WRONG_ITEM, EXPIRED]
          default: GOOD
        lot_number:
          type: string
        expiration_date:
          type: string
          format: date
        notes:
          type: string
        photo_url:
          type: string
        user_id:
          type: string
        device_id:
          type: string

    BarcodeScanResponse:
      type: object
      properties:
        status:
          type: string
          enum: [SUCCESS, NOT_FOUND, NOT_ON_RECEIPT]
        product:
          $ref: '#/components/schemas/ProductSummary'
        line:
          $ref: '#/components/schemas/ReceiptLine'
        running_total:
          type: object
          properties:
            items_scanned:
              type: integer
            total_items:
              type: integer
            message:
              type: string
              description: "15 of 20 items scanned"
        audio_feedback:
          type: string
          enum: [SUCCESS_TONE, ERROR_TONE, WARNING_TONE]
        visual_feedback:
          type: string
          enum: [GREEN_CHECK, RED_X, YELLOW_WARNING]

    # ==============================================
    # PRODUCT SCHEMAS
    # ==============================================
    ProductSummary:
      type: object
      properties:
        product_id:
          type: string
        sku:
          type: string
        upc:
          type: string
        name:
          type: string
        short_name:
          type: string
          description: Abbreviated name for mobile display
        image_url:
          type: string
        category:
          type: string

    ProductLookupResponse:
      type: object
      properties:
        found:
          type: boolean
        product:
          $ref: '#/components/schemas/ProductSummary'
        inventory:
          type: object
          properties:
            qty_on_hand:
              type: integer
            qty_available:
              type: integer
            status:
              type: string
              enum: [IN_STOCK, LOW_STOCK, OUT_OF_STOCK]
            status_label:
              type: string
              description: "In Stock", "Low - 5 left", "Out of Stock"

    ProductNotFoundResponse:
      type: object
      properties:
        found:
          type: boolean
          example: false
        barcode:
          type: string
        message:
          type: string
          example: "Product not found. Would you like to add it?"
        can_create:
          type: boolean
          description: Whether user can create new product

    ProductSearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/ProductSummary'
        total_count:
          type: integer
        page:
          type: integer

    # ==============================================
    # SUPPLIER SCHEMAS
    # ==============================================
    SupplierSummary:
      type: object
      properties:
        supplier_id:
          type: string
        supplier_name:
          type: string
        contact_email:
          type: string

    PurchaseOrderDetails:
      type: object
      properties:
        po_id:
          type: string
        po_number:
          type: string
        po_date:
          type: string
          format: date
        supplier:
          $ref: '#/components/schemas/SupplierSummary'
        status:
          type: string
        lines:
          type: array
          items:
            type: object
            properties:
              product:
                $ref: '#/components/schemas/ProductSummary'
              qty_ordered:
                type: integer
              qty_received:
                type: integer
              unit_cost:
                type: number

    # ==============================================
    # ERROR SCHEMAS
    # ==============================================
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
